{
	"plugins": ["prettier-plugin-astro"],
	"trailingComma": "none",
	"bracketSpacing": false,
	"arrowParens": "avoid",
	"singleQuote": false,
	"printWidth": 80,
	"useTabs": false,
	"tabWidth": 2,
	"semi": true,
	"overrides": [
		{
			"files": "content/**/*.md",
			"options": {
				"semi": false,
				"arrowParens": "avoid",
				"bracketSpacing": true,
				"trailingComma": "all"
			}
		}
	]
}
