{
	"plugins": ["prettier-plugin-astro"],
	"trailingComma": "none",
	"arrowParens": "avoid",
	"printWidth": 100,
	"overrides": [
		{
			"files": "content/**/*.md",
			"options": {
				"semi": false,
				"trailingComma": "all"
			}
		}
	]
}
