---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Greeting from "../components/Greeting.astro";
import Skills from "../components/Skills.astro";
import Proficiency from "../components/Proficiency.astro";
import Education from "../components/Education.astro";
import WorkExperience from "../components/WorkExperience.astro";
import Projects from "../components/Projects.astro";
import OpenSource from "../components/OpenSource.astro";
import Blogs from "../components/Blogs.astro";
import GithubCard from "../components/GithubCard.astro";
import Footer from "../components/Footer.astro";
import ScrollTop from "../components/ScrollTop.astro";
---

<Layout>
  <Header />
  <main>
    <Greeting />
    <Skills />
    <Proficiency />
    <Education />
    <WorkExperience />
    <Projects />
    <OpenSource />
    <Blogs />
    <GithubCard />
  </main>
  <Footer />
  <ScrollTop />
</Layout>
